/* Body Section */

body {
    background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
    background-size: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: large;
}

.grid {
    display: grid;
}

/* Form Section */

#survey-form {
    background-color: midnightblue;
    display: inline-block;
    width: 50%;
    height: 90%;
    position: relative;
    text-align: left;
    padding: 4% 4%;
}

.survey {
    line-height: 2.1rem;
    size: 100%;
}

